*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.container{
    margin: 0 auto;
    max-width: 950px;
    padding: 0 5%;
}

nav {
    background-color: rgb(117, 199, 205);
}

nav .wrapper {
    margin: 0 auto;
    max-width: 950px;
    padding: 0 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 50px;
    padding: 0 3%;
}

nav .wrapper div{
    position:absolute;
    left: 5%;
}

nav .wrapper a, nav .wrapper span {
    padding-left: 10px;
    text-decoration: none;
    color: black;
    
}

nav .wrapper a:hover{
 text-decoration: underline;
}

.contents{
    margin-top: 20px;
    padding: 0 20px;
}

form{
    margin: 0 auto;
    max-width: 40%;
    flex-direction: column;
    display: flex;
}

form *{
    margin-top: 10px;
}

form input, form button {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
}

form button {
    background-color: rgba(118, 207, 200, 0.288);
}